/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

    /* Style for the navigation bar */
  nav {
    display: flex;
    align-items: center;
    background-color: #222;
    color: #fff;
    height: 60px;
    margin-bottom: 30px;
  }

  /* Style for the left side of the navigation bar */
  .nav-left {
    display: flex;
    margin-left: 20px;
    color: #fff
  }

  /* Style for the links in the left side of the navigation bar */
  .nav-left a {
    color: #fff;
    margin-right: 20px;
  }

  /* Style for the middle of the navigation bar */
  .nav-middle {
    flex-grow: 1;
    text-align: center;
    color: #fff;
    text-decoration: none;

  }

  /* Style for the right side of the navigation bar */
  .nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  /* Style for the profile button */
  .profile-btn {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }

  /* Style for the profile picture */
  .profile-btn img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  
  /* Style the form */
  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
  }
  
  /* Style the form inputs */
  form input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  /* Style the form button */
  form button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #555;
  }
  
  
  /* Style the weather information headings */
  h2 {
    font-size: 24px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  /* Style the weather information paragraphs */
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #333;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }
  
  th:last-child, td:last-child {
    border-right: none;
  }
  
  tr:last-child td {
    border-bottom: none;
  }

  
  
  