{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/CSS/weather_style.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">


</head>
<body>
    <nav>
		<div class="nav-left">
			<h1>WeatherPal  <i class="{{ city_data.icon }}"></i></h1>
		</div>
		<div class="nav-middle">
			<h1><a href="{% url 'home_page' %}">WeatherPal Home</a></h1>
		</div>
		<div class="nav-right">
			<a href="#" class="profile-btn">
				<img src="profile-pic.jpg" alt="Profile Picture">
				My Profile
			</a>
		</div>
	</nav>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <h2>Weather Information</h2>



	<table>
		<thead>
			<tr>
				<th>Parameter</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>City</td>
				<td>{{ city_data.city }}</td>
			</tr>
			<tr>
				<td>Country</td>
				<td>{{city_data.country}}</td>
			</tr>
			<tr>
				<td>Temperature</td>
				<td>{{ city_data.temperature }} °C</td>
			</tr>
			<tr>
				<td>Pressure</td>
				<td>{{ city_data.pressure }}</td>
			</tr>
			<tr>
				<td>Humidity</td>
				<td>{{ city_data.humidity }}</td>
			</tr>
			<tr>
				<td>Weather Condition</td>
				<td>{{ city_data.weather_condition }}</td>
			</tr>
			<tr>
				<td>Wind Speed</td>
				<td>{{ city_data.wind_speed }}</td>
			</tr>
			<tr>
				<td>Wind Gust</td>
				<td>{{ city_data.wind_gust }}</td>
			</tr>
			<tr>
				<td>Wind Direction</td>
				<td>{{ city_data.wind_deg }}</td>
			</tr>
			<tr>
				<td>Time</td>
				<td>{{ city_data.dt }}</td>
			</tr>
			<tr>
				<td>Timezone</td>
				<td>{{ city_data.tz }}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>

