{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/CSS/weather_style.css' %}">

</head>
<body>
    <h1>Weather App</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <hr>
    <h2>Weather Information</h2>
    <p>City: {{ city_data.name }}</p>
    <p>Country: {{city_data.country}}</p>
    <p>Temperature: {{ city_data.temperature }}</p>
    <p>Pressure: {{ city_data.pressure }}</p>
    <p>Humidity: {{ city_data.humidity }}</p>
    <p>Weather Condition: {{ city_data.weather_condition }}</p>
    <p>Wind Speed: {{ city_data.wind_speed }}</p>
    <p>Wind Gust: {{ city_data.wind_gust }}</p>
    <p>Wind Direction: {{ city_data.wind_deg }}</p>
    <p>Time: {{ city_data.datetime }}</p>
    <p>Timezone: {{ city_data.timezone }}</p>
</body>
</html>
